<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<body>

<div class="container">
  <div class="card shadow">
    <div class="card-header bg-info text-white"><h2>Course Rgistration Online System</h2></div>
    <br>
    <div class="container small">
      <h6>John Done</h6>
      <h6 class="float-right">83 of 120 credit</h6>
      <h6>NVE-4472</h6>
      <h6 class="float-right">Undergraduate</h6>
      <h6>+2104353344</h6>
      <h6 class="float-right"><a routerLink="/register-list">Register Course</a> </h6>
      <h6>johndone@dksu.edu</h6>
      <h2 class="float-right"><b>Register Informations</b></h2>
    </div>

    <div class="container">
      <h6>Registeration ID :<b>334455</b></h6>
      <h6>Department :<b>{{department}}</b></h6>
      <h6>Course :<b>{{course}}</b></h6>
      <h6>Semester :<b>{{semester}}</b></h6>
      <h6>Year :<b>{{year}}</b></h6>
    </div>

    <div class="form-group m-5">
      <a routerLink="/dashboard" class="btn btn-sm btn-outline-danger float-right">Dashboard</a> &nbsp;
    </div>
  </div>
  <div class="card-header small bg-info text-white">Dekastan State Uiverty (Civitas Universitas Dekastan)</div>
</div>
</body>
</html>



