<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

<div class="container">
  <div class="card shadow">
    <div class="card-header bg-info text-white"><h2>Course Rgistration Online System</h2></div>
    <br>
    <div class="container small">
      <h6>John Done</h6>
      <h6 class="float-right">83 of 120 credit</h6>
      <h6>NVE-4472</h6>
      <h6 class="float-right">Undergraduate</h6>
      <h6>+2104353344</h6>
      <h6 class="float-right"><a routerLink="/dashboard">Back</a> </h6>
      <h6>johndone@dksu.edu</h6>
      <h2 class="float-right"><b>Register Informations</b></h2>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="card shadow">
            <table id="example" class="table table-striped">
              <thead>
              <tr class="bg-primary text-white">
                <th>Department</th>
                <th>Course</th>
                <th>Semester</th>
                <th>Year</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>{{depart}}</td>
                <td>{{cour}}</td>
                <td>{{seme}}</td>
                <td>{{year}}</td>
              </tr>
              </tbody>
            </table>
            <div class="card-body">

            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="card-footer small bg-info text-white"> &nbsp; Dekastan State Uiverty (Civitas Universitas Dekastan)</div>

  </div>
</div>
</body>
</html>
