

<!--<div class="card bg-dark">-->
<!--  <div class="card-body">-->
<!--    &lt;!&ndash;                row&ndash;&gt;-->
<!--    <div class="row">-->
<!--      <div class="col-lg-3 col-md-4 col-sm-6">-->
<!--        <div class="card card-body">-->
<!--          <img src="" class="img-thumbnail" alt="...">-->
<!--          <h6 class="sm text-dark">Name:<strong></strong></h6>-->
<!--          <h6 class="sm text-dark">စာရေးဆရာ -<strong></strong></h6>-->
<!--          <h6 class="sm text-dark">စျေးနှုန်း - <strong></strong></h6>-->
<!--          <a class="btn btn-sm btn-outline-info mt-2" routerLink="">Borrow</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash;                row end&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->

<div class="text-center" *ngFor="let d of result">
  {{d.type}}
  {{d.description}}
  <div *ngFor="let  book of d.books">
    {{book.name}}
    {{book.author}}
    {{book.price}}
  </div>
</div>
